.right-scroll {
  height: 100vh;
  width: 60vw;
  background-color: #373737;
  color: aliceblue;
  font-family: "Jeongnimsaji";
  padding: 10px 30px 10px 30px;
  overflow-y: auto;
}
.level {
  display: flex;
  width: 40vw;
  height: 11vh;
  padding: 10px 30px;
  align-items: center;
}
.level img {
  height: 10vh;
  width: 10vh;
  object-fit: contain;
}
.level-a {
  display: flex;
  width: 40vw;
  height: 11vh;
  padding: 10px 30px;
  align-items: center;
}
.level-a img {
  height: 10vh;
  width: 20vh;
  object-fit: contain;
  margin: 1vh;
}
.l1 {
  width: 7vw;
  text-align: center;
}
.back {
  color: aliceblue;
  font-family: "MaruBuri";
}
.s-link {
  display: flex;
  height: 50vh;
  align-items: center;
  transition: 0.5s;
  margin-left: 10px;
  background-color: #1a1a1a;
  color: aliceblue;
  margin-left: 0px;
  padding-left: 20px;
}
.center img {
  margin: 1vw;
}
.center p {
  text-align: center;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  display: none;
}
